<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mp06.mapper.UserMapper">

    <update id="change">
        update user set username=#{username},password=#{password},telephone=#{telephone} where id = #{id}
    </update>
    <select id="findAll" resultType="int">
        select id from user
    </select>
</mapper>
